*{
    border: 0;
    margin: 0;
    padding: 0;
}
.topSection{
    display: flex;
    list-style: none;
    height: 70px;
    background-color: white;
    border-bottom: 2px solid lightgray;
}
.menu{
    display: flex;
   /* border:2px solid black;*/
    width: 40%;
    justify-content: center;
}
.menu>li{
   margin: 15px;
   margin-top: 20px;
    text-align: center;
    font-size: 16px;
    font-family: Helvetica;
}

.name{
   
    width: 60%;
    text-align: center;
    display: flex;
    justify-content: center;
}
.name>li{
    padding: 20px;
background-color: lightcoral;
    font-size: 23px;
    font-weight: bold;
    color: white;
    font-family: Georgia;
    width: 200px;
    text-align: center;
}
body{
    background-color: rgb(238, 235, 235);
}
.AboutMe{
    color: rgb(90, 172, 133);
    padding-top: 20px;
    padding-left: 15px;
    margin-bottom: 10px;
    margin-left: 15px;
    font-size: 35px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}
hr {
    width: 95%;
   display: block;
   margin-left: auto;
   margin-right: auto;
    height: 5px;
    margin-bottom: 10px;
    background-color: lightcoral;
}
.Info{
    margin-top: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    background-color: white;
    margin-bottom: 40px;
}
.Info1{
    display: flex;
    margin-left: 30px;
    margin-right: 30px;
}
p{
    font-family: Helvetica;
    line-height: 2rem;
    color: grey;
}
.Info1>p{
    margin-top: 20px;
  
    margin-bottom: 20px;
    margin-right: 30px;
}
img{
    margin-top: 20px;
    width:200px;
    height:200px;
    margin: 20px;
}
.Info2{
    margin-left: 30px;
    margin-right: 30px;
    padding: 5px;
}

footer{
    border-top: 8px solid lightcoral;
    height: 50px;
    width: 100%;
    background-color: grey;
    position: fixed;
    bottom: 0;
}
h1{
    text-align: center;
    padding-top: 18px;
    color: white;
    font-size: 13px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
a{
    text-decoration: none;
    color: rgb(129, 129, 129);
}
a:hover{
    color: lightcoral;
    cursor: pointer;
}
/*CONTACT FORM STYLE*/
.Contact{
    margin-top: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 52%;
    background-color: white;
    margin-bottom: 40px;
    padding: 25px;
}
form{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
}
textarea{
    border: 1px solid lightgray;
    border-radius: 3px;
    height: 150px;
}
input{
    border-radius: 3px;
    border: 1px solid lightgrey;
    margin-top: 5px;
    margin-bottom: 10px;
    height: 30px;
}
.label{
    font-family: Helvetica;
}
button{
    margin-top: 20px;
    padding: 10px;
    width: 100px;
    background-color: lightcoral;
    color: white;
    cursor: pointer;
}
button:hover{
    background-color: rgb(233, 159, 159);
}

/*PORTFOLIO STYLES*/
#img1{
    float: left;
}
#img2{
    float: left;
}
.images{
    display: flex;
    flex-direction: column;
}
#img3{
    float: left;
}
#img4{
    float: left;
}
.images>div>div>a:hover{
background-color: rgb(240, 164, 164);
}
.images>div>div>a{
    color: white;
    padding: 15px;
    width: 170px;
    position: absolute;
    margin-left: -220px;
    margin-top: 165px;
    text-align: center;
    font-family: helvetica;
    background-color: lightcoral;
    
}